.black {
  color: black;
}

.gray {
  color: gray;
}

.inputBox {
  position: relative;
  margin-bottom: 50px;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.input {
  opacity: 0;
}
