.userText {
  color: #22356F;
  font-weight: bold;
}

.text {
  color: rgb(192, 190, 190);
  font-weight: bold;
}

.inputBox {
  position: relative;
  margin-bottom: 50px;
}

.label {
  width: 80%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 20px;
  z-index: 10;
  text-align: center;
  border-radius: 10px;
  border: 1px solid white;
  background-color: white;
}

.input:focus + label {
  border-color: black;
}

.input {
  position: absolute;
  top: 0;
  opacity: 0;
}
