.key{
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #30a6b6;
  border-radius: 5px;
  text-transform: uppercase;
  color: black;
}

.active {
  color: white;
  background-color: #30a6b6;
}

.error {
  color: white;
  background-color: red;
}

.simple{
  min-width: 40px;
}

.medium{
  min-width: 70px;
}

.big{
  min-width: 250px;
}