.key{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #30a6b6;
  border-radius: 5px;
  text-transform: uppercase;
  color: black;
}

.active {
  color: white;
  background-color: #30a6b6;
}

.error {
  color: white;
  background-color: red;
}

.specialKey{
  width: 70px;
}